<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Microsoft Yahei, Hiragino Sans GB, Helvetica Neue, Arial, sans-serif;font-size:14px;color:#8F77B5;border:none;">
  <tbody>
    <tr>
      <td colspan="3" style="border:none;">
        <div style="background-color:#8F77B5;padding:10px 20px;border:none;">
          <p style="margin:0;padding:0;font-size:30px;color:#fff;">XMatrix</p>
        </div>
      </td>
    </tr>
    <tr style="border:none;color:#000;">
      <td colspan="3" style="background-color:#fafafa;padding:20px;padding-top:30px;border:none;">
        <p style="margin:0;padding:0;text-align:center;font-size:20px;">【Violet】邮箱验证码</p>
        <div>
          <p style="margin:20px 0;padding:0;">Hi, <strong style="font-size:15px;">{{ name }}</strong>, 欢迎使用Violet中央授权系统。</p>
          <div style="margin:0;padding:0;text-indent:32px;line-height:2">
            <p><span>&nbsp; &nbsp; &nbsp; 您的账户正在执行<strong>重要</strong>操作，请在十分钟内输入你的验证码</p>
            <p style="text-align:center;font-size:30px;">{{ code }}</p>
          </div>
          <p style="margin:20px 0 30px;padding:0;text-align:right;font-weight:bold">XMatrix Studio</p>
          <p style="margin:20px 0 30px;padding:0;text-align:right;font-weight:bold">{{ time }}</p>
        </div>
      </td>
    </tr>
    <tr>
      <td style="background-color:#8F77B5;color:#fff;font-size:12px;line-height:1.5;border:none;" width="120px">
      </td>
      <td style="background-color:#8F77B5;padding:10px;color:#fff;font-size:12px;line-height:2.5;border:none;"><div class="ab" style=""></div>
        <table class="ab" style="color:#fff;">
          <tbody>
            <tr>
              <td align="right" style="font-size:12px;">XMatrix Studio官网：</td>
              <td><a style="display:inline-block;padding:1px 10px;color:#fff;outline:none;border:none;border:none;font-size:12px;" href="https://xmatrix.studio" target="_blank">https://xmatrix.studio</a></td>
            </tr>
            <tr>
              <td align="right" style="font-size:12px;">联系邮箱</td>
              <td><a href="mailto://a@xmatrix.studio" style="display:inline-block;padding:1px 10px;color:#fff;outline:none;border:none;border:none;font-size:12px;">a@xmatrix.studio</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
